# --- Core ---
python-dateutil
numpy
pandas

# --- NLP / ML ---
torch
transformers
sentence-transformers
scikit-learn==1.3.2
joblib

# --- Visualisation ---
plotly
dash
dash-bootstrap-components
matplotlib
seaborn

# --- Utils ---
tqdm
typing-extensions
